.jumbotron {
    height: 580px;
    width: 700px;
}

.imagem-pizza{
    width: 40px;
    margin-left: .5rem;
}

#div-imput {
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 4rem; 
}

#idTable {    
    margin-left: 4rem;
    width: 540px;
}

#div-principal {
    line-height: 10px; 
    margin-top:60px; 
    margin-left: 15rem; 
    margin-right: 15rem;
}

#divTamanho {
    margin-top: 14px;
}

.buttons {
    text-align: center;
    margin-bottom: 6rem;
}

#footer {
    position: fixed;
    bottom: 0; width: 100%;
}